.navbar.center .navbar-header {
    text-align: center;
}

.navbar.center .navbar-header .nav {
    display:inline-block;
    float: none;
}

.navbar.center .navbar-collapse {
    text-align: center;
}

.navbar.center .navbar-collapse .nav {
    display:inline-block;
    float: none;
}
